body{
    justify-content: center;
    font-size: 18px;
    margin: 0;
    color: black;
    font-family: 'Recursive', sans-serif;;
}

/*layout*/

header{
    background: #2e345f;
    padding: 45px 0;
    color: #fff;
    text-align: center;
}

section{
    padding: 45px 0;
}

#section-two{
    background: #2e345f;
    color: #fff;
}

.container{
    border: #ef5839 solid 10px;
    width: 700px;
    margin: 0 auto;/*space is equal on both sides*/
}

/*typogrophy*/

h2, .p-link{
    color: #ef5839;
    font-weight: 900;
}

h2{
    text-align: center;
}

img{
    width: 700px;
}

.btn1{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

.btn2{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

.btn-accent{
    background-color:#ef5839;
    color:#fff;
}

.btn-light{
    background-color: #fff;
    color:#ef5839;
}

.btn-accent:hover,
.btn-accent:focus{
    background: #999;
    color: #fff;
}

.btn-light:hover,
.btn-light:focus{
    background: #999;
    color: #fff;
}











